/* .tbody tr { line-height: 1px; 
    height: 1px;
    padding-top     : 1px;
    padding-bottom  : 1px;
} */

tr:nth-child(even) {
    background-color: #f5f5f5;
}

tr:hover {
    background-color: #dcf5f4;
}

tr, td, th {
    border : 0.5px solid black !important;
    text-align      : center;
}

/* th {
    background-color: #5152519d;
} */
th p {
    color: black;
    font-weight: bold;
}

.table td, .table th {
    vertical-align: middle;
}

.table p {
    margin-bottom: 0rem;
}

thead tr {
    background-color: #f5f5f5;
}