/* .tbody tr { line-height: 1px; 
    height: 1px;
    padding-top     : 1px;
    padding-bottom  : 1px;
} */

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* tr:hover {
    background-color: #06eb0634;
} */

td, th {
    border : 2px solid #ddd;
    text-align      : center;
}

th {
    background-color: #5152519d;
}
th p {
    color: white;
}

.table td, .table th {
    vertical-align: middle;
}

.table p {
    margin-bottom: 0rem;
}
